*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgb(82, 15, 15);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 110px;
}   
#navlogo{
    width: 150px;
    margin-top: 13px;
    
}
img{
    max-width: 100%;
}
nav ul{
    color: beige;
    width: 25%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
}
a{
    text-decoration: none;
    color: beige;
}
#section1{
    background-image: url(./Imagenes/fondorathalos.jpg);
    background-size: contain;
}
#logow img{
    width: 300px;
    display: flex;
    justify-content: center;
}
#plats img{
    width: 60px;
}
#plats{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin: 10px;
}
