*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
}
nav{
    background-color: rgb(82, 15, 15);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 110px;
    
}   
#navlogo{
    width: 150px;
    margin-top: 13px;    
}
img{
    max-width: 100%;
}
nav ul{
    color: beige;
    width: 25%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    font-family: "Markazi Text", serif;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: beige;
    text-shadow: 2px 2px 3px rgb(5, 1, 2);
}
#section1{
    background-image: url(./Imagenes/fondorathalos.jpg);
    background-size: cover;
    background-position: center;
    max-height: 100%;
}
#logow img{
    width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
#plataformas img{
    width: 80px;
}
#plataformas{
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
}
#logow{
    display: flex;
    justify-content: center;
}
#trailer{
    width: 25%;
    color: rgb(22, 22, 7);
    font-size: 30px;
    margin-left: 20px;
    font-family: "Markazi Text", serif;
    text-shadow: 2px 2px 3px rgb(5, 1, 2);
}
#historia{
    background-image: url(./Imagenes/fondovelkhana.jpg);
    background-size: cover;
    height: 110vh;
    max-height: 100%;
}
#historia div{
    margin-right: 67%;
    margin-left: 15px;
    padding-top: 21%;
    color: beige;
    font-size: 29px;
    font-family: "Markazi Text", serif;
    text-shadow: 2px 2px 3px rgb(5, 1, 2);
}
#armonstruos{
    background-image: url(./Imagenes/fondoarmas.jpg);
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: space-between;
}
#armas img{
    width: 180px;
}
#armas{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    justify-content: center;
}
#monstruos img{
    width: 270px;
}
#monstruos{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    justify-content: center;
}
#listarm{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding: 5%;
    margin-bottom: 20%;
    margin-left: 5%;
    font-family: "Markazi Text", serif;
    color: beige;
    text-shadow: 2px 2px 3px rgb(5, 1, 2);  
}
#listarm div{
    width: 28%;  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#textarm{
    height: 10vh;
    padding: 20%;
    color: beige;
    font-family: "Markazi Text", serif;
    font-size: 35px;
    text-shadow: 3px 3px 4px rgb(5, 1, 2);
}
#listmon{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding: 5%;
    margin-bottom: 20%;
    margin-left: 5%;
    font-family: "Markazi Text", serif;
    color: beige;
    text-shadow: 2px 2px 3px rgb(5, 1, 2);  
}
#listmon div{
    width: 28%;  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#textmon{
    height: 10vh;
    padding: 19%;
    color: beige;
    font-family: "Markazi Text", serif;
    font-size: 35px;
    text-shadow: 3px 3px 4px rgb(5, 1, 2);
}
section#bosque{
    background-image: url(./Imagenes/bosque.jpg);
    background-size: cover;
    max-height: 100vh;
    height: 100vh;
}
section#altiplanos{
    background-image: url(./Imagenes/altiplanos.jpg);
    background-size: cover;
    max-height: 100vh;
    height: 100vh;
}