*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0;
    z-index: 99;
}
footer{
    height: 7vh;
    background-color: rgb(29, 8, 8);
    color: beige;
    font-family: "Markazi Text", serif;
    text-shadow: 2px 2px 3px rgb(5, 1, 2);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 0 auto;
    -webkit-mask-image: url("./Imagenes/grit.png24");
    mask-image: url("./Imagenes/grit.png24");
    
}
footer img{
    width: 100px;
}
#capcom{
    
}
footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 10px;
}
nav{
    background-color: rgb(82, 15, 15);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 110px;  

}   
#navlogo{
    width: 150px;
    margin-top: 13px;    
}
img{
    max-width: 100%;
}
nav ul{
    color: beige;
    width: 25%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    font-family: "Markazi Text", serif;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: beige;
    text-shadow: 2px 2px 3px rgb(5, 1, 2);
}
#navlogo img{
    -webkit-filter: drop-shadow(5px 5px 5px #fff);
    filter: drop-shadow(5px 5px 5px #fff);
}
#section1{
    background-image: url(./Imagenes/fondorathalos.jpg);
    background-size: cover;
    background-position: center;
    max-height: 100vh;
    height: 90vh;
}
#logow img{
    width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 15%;
    -webkit-filter: drop-shadow(15px 15px 15px #ffffff);
    filter: drop-shadow(15px 15px 15px #ffffff);
}
#plataformas img{
    width: 80px;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(5px 5px 5px #000000);
}
#plataformas{
    align-items: center;
    display: flex;
    
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 125px;
}
#logow{
    display: flex;
    justify-content: center;
}
#trailer{
    width: 25%;
    color: rgb(22, 22, 7);
    font-size: 30px;
    margin-left: 20px;
    font-family: "Markazi Text", serif;
    text-shadow: 2px 2px 3px rgb(5, 1, 2);
    margin-top: 70px;
}
#historia{
    background-image: url(./Imagenes/fondovelkhana.jpg);
    background-size: cover;
    height: 110vh;
    max-height: 100%;
}
#historia div{
    margin-right: 67%;
    margin-left: 15px;
    padding-top: 21%;
    color: beige;
    font-size: 29px;
    font-family: "Markazi Text", serif;
    text-shadow: 2px 2px 3px rgb(5, 1, 2);
}
#armonstruos{
    background-image: url(./Imagenes/fondoarmas.jpg);
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: space-between;
}
#armas img{
    width: 180px;
}
#armas{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    justify-content: center;
}
#monstruos img{
    width: 270px;
}
#monstruos{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    justify-content: center;
}
#listarm{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding: 5%;
    margin-bottom: 20%;
    margin-left: 5%;
    font-family: "Markazi Text", serif;
    color: beige;
    text-shadow: 2px 2px 3px rgb(5, 1, 2);  
}
#listarm div{
    width: 28%;  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    -webkit-filter: drop-shadow(10px 10px 10px #ffffff);
    filter: drop-shadow(10px 10px 10px #fffefe);
}
#textarm{
    height: 10vh;
    padding: 20%;
    color: beige;
    font-family: "Markazi Text", serif;
    font-size: 35px;
    text-shadow: 3px 3px 4px rgb(5, 1, 2);
}
#listmon{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding: 5%;
    margin-bottom: 20%;
    margin-left: 5%;
    font-family: "Markazi Text", serif;
    color: beige;
    text-shadow: 2px 2px 3px rgb(5, 1, 2);  
}
#listmon div{
    width: 28%;  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(5px 5px 5px #000000);
}
#textmon{
    height: 10vh;
    padding: 19%;
    color: beige;
    font-family: "Markazi Text", serif;
    font-size: 35px;
    text-shadow: 3px 3px 4px rgb(5, 1, 2);
}
section#bosque{
    background-image: url(./Imagenes/bosque.jpg);
    background-size: cover;
    max-height: 100vh;
    height: 100vh;   
}
section#altiplanos{
    background-image: url(./Imagenes/altiplanos.jpg);
    background-size: cover;
    max-height: 100vh;
    height: 100vh;
}
#valle{
    background-image: url(./Imagenes/valleputre.jpg);
    background-size: cover;
    max-height: 100vh;
    height: 100vh;
}
.textmapas{
    color: beige;
    font-family: "Markazi Text", serif;
    font-size: 28px;
    text-shadow: 5px 5px 5px rgb(5, 1, 2);
    width: 60%;
    margin-left: 50px;
}
.mapash2{
    color: beige;
    font-family: "Markazi Text", serif;
    font-size: 35px;
    text-shadow: 3px 3px 4px rgb(5, 1, 2);
    padding: 20px;
    display: flex;
    justify-content: end;
    margin-right: 20px;
}
.gifsmapas{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    justify-content: space-evenly;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(5px 5px 5px #000000);
}
.linea{
    background: url(./Imagenes/linea.png);
    height: 9px;
    width: 100%;
    left: 0;
    right: 0;
    display: block;
}
body#descubre{
    background: url(./Imagenes/fondodescubre.jpg_large);
    background-attachment: fixed;
    max-height: 100vh;
    height: 100vh;
    color: beige;
    font-family: "Markazi Text", serif;
    font-size: 15px;
}
#descubremain img{
    max-width: 300px;
    max-height: 350px;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(5px 5px 5px #000000);
    margin-right: 20px;
    
}
section#herramientas{
    height: 85vh;
    width: 90vw;
    margin: 0 auto;
}
.divherr{
    display: flex;
    flex-direction: row;
    height: 25vh;
    margin: 0 auto;
    font-size: 25px;
    text-shadow: 3px 3px 4px rgb(5, 1, 2);
    flex-wrap: wrap;
    
}
.divherr h2{
    display: inline-block;
    font-size: 28px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
}
.divherr p{
    width: 70%;
}